.DS_Store
node_modules
build
/Test*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.map
.npmrc

__pycache__
~~*
--*
==*
package-lock.json
yarn.lock
.git
/*.zip
/*.py
/*.exe
/*.jar
/*.md
/*.html
/*.json
/*.js
/*.txt
/.gitattributes
/.*ignore
/dynamsoft-barcode-reader-js-*
/sampleFromGithub
/src
/doc
/Web.config
/samples
/temp
/public
/README.html

!/legal.txt
!/README.md
!/README.NODE.md
!/package.json
!/LICENSE
