<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".mem" />
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
      <remove fileExtension=".mjs" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>
    <httpProtocol>
        <customHeaders>
          <remove name="Access-Control-Allow-Origin"/>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>