@media(max-width: 80vh){
    .file-container{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
    }
}

.file-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top:0;
}