.wrap-container{
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* text-align: center */
}
.home-screen{
    position: absolute;
    /* min-width: 80vh; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
}

.home-screen .dynam-info{
    position: absolute;
    width: 100%;
    height: 50px;
    top:12%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    left: 50%;
    transform: translate(-50%);
}


.home-screen .region{
    display: block;
    position: absolute;
    right: 30px;
    bottom: 15%;
    width: 28px;
    height: 28px;
    background-size: 20px;
    /* z-index: 1000; */
}

.home-screen .scanner-container{
    position: absolute;
    width: 100%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-screen .scanner-container .frame{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    max-width: 250px;
    max-height: 250px;
    border: 2px solid #FE8E14;
    border-radius: 5px;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.3);
    /* z-index: -99; */
}

.home-screen .scanner-container .frame .flashlight{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0;    
    padding-bottom: 5px;
}
.home-screen .scanner-container .tip-info{
    position: absolute;
    width: 80%;
    bottom: 0;
    /* top:25%; */
    color: rgba(255, 255, 255, 1);
}

.header-bar{
    position: relative;
    height: 64px;
    /* background: rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.settingBtn-container{
    position: absolute;
    left: 0;
    padding:15px 5px 5px 10px;
    
}

.double-click{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 90px ;
    color: wheat;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.selImgBtn-container{
    position: absolute;
    right: 0; 
    padding: 15px 10px 5px 5px;
}

.home-screen .dynam-info a img{
    width: 50%;
    max-width: 200px;
    max-width: -moz-fit-content;
    text-align: center;
}

.result-content{
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 1.0);
    padding: 8px 0 8px 0;
    /* min-height: 45px; */
    /* background: rgba(0, 0, 0, 0.5); */
    text-align: center;
}

.result-container div{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#scanner .video-container{
    display: inline-block;
    position: relative;
}

#scanner .video-container .custom-video{
    object-fit: fill;
}

@media(min-width:80vh){
   .result-container{
        position: absolute;
        width: 25%;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    } 


}

/* mobile */
@media(max-width: 80vh){
    .result-container{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;  
        background: rgba(0, 0, 0, 0.5);
        /* z-index: 999; */
    }
    
    .home-screen .dynam-info a img{
        width: 50%;
    }
}


