@media(max-width: 80vh){
    .setting-container{
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        
    }
    .clear-cache{
        display: inline-block;
        padding-top: 10px;
        padding-left: 5%;
    }
}

.setting-container{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.clear-cache{
    display: inline-block;
    padding-top: 10px;
    padding-left: 5%;
}