#videoview {
    position: relative;
    width: 640px;
    height: 480px;
  }

#video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

#overlay {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}